{% include "header.html" %}
<!--    <section id="title">-->
<!--        <div class="container-fluid">-->
<!--            <nav class="navbar navbar-expand-lg navbar-dark">-->
<!--                <a class="navbar-brand" href="">Covid Vaccination</a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->

<!--                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
<!--                    <ul class="navbar-nav ms-auto">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="/">HOME</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="/enternew">FORM</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="/list">SHOW DETAILS</a>-->
<!--                        </li>-->


<!--                    </ul>-->
<!--                </div>-->
<!--            </nav>-->
            <div class="row">
               <div class="col-lg-9">
                   <section class="colored-section" id="testimonials">

                    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
                      <div class="carousel-inner">
                        <div class="carousel-item active container-fluid">
                          <h2 class="testimonial-text">I chose to get the vaccine because I don’t want to get COVID.</h2>
                          <img class="testimonial-image" src="/static/girl-image.jpg" alt="girl">
                        </div>
                        <div class="carousel-item container-fluid">
                            <img class="testimonial-image" src="/static/63476.jpg" alt="girl">
                        </div>
                        <div class="carousel-item container-fluid">
                            <h2 class="testimonial-text">I feel proud that I am getting the vaccine. We should all take the vaccine and help remove this disease from it's roots</h2>
                            <img class="testimonial-image" src="/static/testimoni-image.jpg" alt="girl">
                        </div>
                        <div class="carousel-item container-fluid">

                          <img class="testimonial-image" src="/static/active-image.png" alt="lady-profile">
                        </div>
                        <div class="carousel-item container-fluid">
                            <h2 class="testimonial-text">Getting the COVID vaccine does more than protect just you. It can help to protect your family, friends and community. When you choose to get vaccinated, you're doing your part to help end a global pandemic. I chose to get vaccinated so I can keep showing up for my patients as well as my team. I chose to keep myself safe so I can keep my community safe.</h2>
                            <em>Sarah Krizan, PharmD, BCCCP</em>
                            <em>Clinical Pharmacy Specialist, Methodist South Hospital</em>
                        </div>

                          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </a>
                         <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                         </a>
                      </div>

                  </section>

               </div>
                <div class="col-lg-3">
                  <h2>Quick links</h2>
                    <ul class="quick-links navbar-nav ms-auto-center ">
                        <li>
                            <a class="nav-link" href="https://www.who.int/health-topics/coronavirus#tab=tab_1"> >   WHO</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://www.cowin.gov.in/"> > Get Vaccinated</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://www.mohfw.gov.in/covid_vaccination/vaccination/index.html">>  Info</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://covid19.who.int/"> >    Cases and Data</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://www.mohfw.gov.in/pdf/FAQsCOVID19vaccinesvaccinationprogramWebsiteupload27Sep.pdf"> >    FAQ's</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
{% include "footer.html" %}
<!--</body>-->

<!--</html>-->

